
body{
    background-color: white;
    padding: 100px;
}

.derecha {
    display: block !important;
    text-align: right;
  }
  
  .miformulario {
    max-width: 700px;
    display: block;
    margin: auto;
  }
  
  .mensaje {
    max-width: 400px;
    display: block;
    margin: auto;
  }

  .back-button{
      width: fit-content !important;
      display: block;
      float: right;
  }